## Marketing Analytics Midterm Project
### Project 3
Agnes Liu, Wenbo Liu, Key Gao

In [61]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns

In [5]:
transaction_data = pd.read_csv('Pernalonga\\transaction_table.csv')
product_data = pd.read_csv('Pernalonga\\product_table.csv')

Basic data inspections, understand the granularity of the data.

In [322]:
transaction_data.head()

,cust_id,tran_id,tran_dt,store_id,prod_id,prod_unit,tran_prod_sale_amt,tran_prod_sale_qty,tran_prod_discount_amt,tran_prod_offer_cts,tran_prod_paid_amt,prod_unit_price
0,139662,2.017110e+18,2017-11-03,584,145519008,CT,2.89,4.0,0.00,0,2.89,0.7225
1,799924,2.017111e+18,2017-11-12,349,145519008,CT,2.89,4.0,-1.45,1,1.44,0.7225
2,1399898,2.017102e+18,2017-10-21,684,145519008,CT,2.89,4.0,-1.45,1,1.44,0.7225
3,1399898,2.017111e+18,2017-11-11,684,145519008,CT,2.89,4.0,-1.45,1,1.44,0.7225
4,1399898,2.017121e+18,2017-12-05,684,145519008,CT,2.89,4.0,-1.45,1,1.44,0.7225

In [7]:
product_data.head()

,prod_id,subcategory_id,sub_category_desc,category_id,category_desc,brand_desc,category_desc_eng
0,145519008,93970,IOGURTE BIFIDUS LIQ,95854,IOGURTE SAUDE,ACTIVIA,YOGURT HEALTH
1,145519009,93970,IOGURTE BIFIDUS LIQ,95854,IOGURTE SAUDE,ACTIVIA,YOGURT HEALTH
2,145519010,93970,IOGURTE BIFIDUS LIQ,95854,IOGURTE SAUDE,ACTIVIA,YOGURT HEALTH
3,145519011,93970,IOGURTE BIFIDUS LIQ,95854,IOGURTE SAUDE,ACTIVIA,YOGURT HEALTH
4,145519012,93970,IOGURTE BIFIDUS LIQ,95854,IOGURTE SAUDE,ACTIVIA,YOGURT HEALTH

## EDA

EDA are done in Tableau for visual puroses and is included in the report.

## Pulling relevant data

In [8]:
#Product Information
bock_index = product_data.index[product_data.brand_desc=='SUPER BOCK'].tolist()
bock = product_data.loc[bock_index]

heineken_index = product_data.index[product_data.brand_desc=='HEINEKEN'].tolist()
heineken = product_data.loc[heineken_index]

#Transaction Information

bock_prod_ids = bock.prod_id
heineken_prod_ids = heineken.prod_id

bock_transactions = transaction_data[transaction_data.prod_id.isin(bock_prod_ids)]
heineken_transactions = transaction_data[transaction_data.prod_id.isin(heineken_prod_ids)]

#Customer Information

bock_customers = bock_transactions.cust_id.unique()
heineken_customers = heineken_transactions.cust_id.unique()

See types of products offered by both brands

In [9]:
heineken

,prod_id,subcategory_id,sub_category_desc,category_id,category_desc,brand_desc,category_desc_eng
910,999159921,93694,CERVEJA EST C/ALCOOL,95800,CERVEJA C/ ALCOOL,HEINEKEN,BEER WITH ALCOHOL
9490,999682638,93694,CERVEJA EST C/ALCOOL,95800,CERVEJA C/ ALCOOL,HEINEKEN,BEER WITH ALCOHOL
10208,999939106,93694,CERVEJA EST C/ALCOOL,95800,CERVEJA C/ ALCOOL,HEINEKEN,BEER WITH ALCOHOL

In [89]:
bock

,prod_id,subcategory_id,sub_category_desc,category_id,category_desc,brand_desc,category_desc_eng
702,999156311,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
933,999160155,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
1405,999168803,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
1718,999174009,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
3476,999224373,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
3603,999226130,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
3701,999227098,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
3830,999230254,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
3950,999232273,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
5053,999252242,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
5054,999252243,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
5425,999262736,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
6446,999299657,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
7438,999359026,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
7807,999385340,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
8023,999409443,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
8141,999428518,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
8362,999453873,93693,CERVEJA NAC S/ALCOOL,95799,CERVEJA S/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
8648,999494263,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
8804,999516116,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
8830,999521779,93693,CERVEJA NAC S/ALCOOL,95799,CERVEJA S/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
9007,999551492,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
9166,999595388,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL
9178,999598955,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL

504 customers buy products from both brands

In [49]:
bock_heineken_customers = np.array(list(set.intersection(set(heineken_customers),set(bock_customers))))

In [16]:
len(bock_heineken_customers)

504

For those who buy products from both brands, pull their heineken purchases

In [21]:
bh_all_purchases_index = transaction_data.index[transaction_data.cust_id.isin(bock_heineken_customers)].tolist()
bh_all_purchases = transaction_data.loc[bh_all_purchases_index]
bock_heineken_purchase_index = bh_all_purchases.index[bh_all_purchases.prod_id.isin(heineken.prod_id)].tolist()


bock_heineken_purchase = bh_all_purchases.loc[bock_heineken_purchase_index]

Finally, get all transactions for both brands

In [37]:
bock_customer_transactions = transaction_data[transaction_data.cust_id.isin(bock_customers)]
heineken_customer_transactions = transaction_data[transaction_data.cust_id.isin(heineken_customers)]

## Targeting Customers

###  There are two types of super bock customers: 
<ul>
<li> Customers who has not bought any heineken product</li>
<li> Customers who buys both brands</li>
</ul>

We deal with the first type first. Our goal is to get them start buying Heineken, thus increase heineken sales

Look at what products heineken customers are buying, and develope a single general profile/taste that represents all heineken customers. Then for all customers who buy super bock exclusively, compute jaccard similarity between the customer and the heineken profile. We only target customers who are similar to the profile.

We tried to implement a user-based knn recommendation system, and look at similarity of each superbock customer and each heineken customer. The computation was too intensive, howeer, therefore we had to make a generalized profile for all Heineken customers instead.

In [38]:
# Source: Saimadhu Polamuri, FIVE MOST POPULAR SIMILARITY MEASURES IMPLEMENTATION IN PYTHON
# url: http://dataaspirant.com/2015/04/11/five-most-popular-similarity-measures-implementation-in-python/
def jaccard_similarity(x,y):
 
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

In [39]:
heineken_profile = heineken_customer_transactions.prod_id.value_counts().index[1:10000]

For super bock customers who has not bought any heineken product, compare how similar they are to heineken buyers. We can target the ones with high similarity to the heineken profile so that they start buying heneken products, thus boosting heineken sales.

In [ ]:
similarity_list = []

#find super_bock customer who has not bought heineken
only_bock_customer = bock_customers[~pd.Series(bock_customers).isin(pd.Series(heineken_customers))]

for bock_customer in only_bock_customer:
    #if np.where(only_bock_customer==bock_customer)[0][0] % 100 ==0 :
        #print(np.where(only_bock_customer==bock_customer)[0][0])
    bock_customer_index = transaction_data.index[transaction_data.cust_id == bock_customer].tolist()
    bock_customer_df = transaction_data.iloc[bock_customer_index]
    bock_customer_purchases = bock_customer_df.prod_id
    similarity = jaccard_similarity(bock_customer_purchases, heineken_profile)
    similarity_list = similarity_list + [similarity] 
similarity_list= np.array(similarity_list)

See how similar people who buys both brands are to average heineken buyer profile and use it as a reference.

In [ ]:
bh_similarity_list = []
for bock_customer in bock_heineken_customers:
    #if np.where(bock_heineken_customers==bock_customer)[0][0] % 100 ==0 :
     #   print(np.where(bock_heineken_customers==bock_customer)[0][0])
    bock_customer_index = transaction_data.index[transaction_data.cust_id == bock_customer].tolist()
    bock_customer_df = transaction_data.iloc[bock_customer_index]
    bock_customer_purchases = bock_customer_df.prod_id
    similarity = jaccard_similarity(bock_customer_purchases, heineken_profile)
    bh_similarity_list = bh_similarity_list + [similarity] 
bh_similarity_list= np.array(bh_similarity_list)

In [328]:
print('Similarity of customers who buy both brands: ')
print('0 percentile: '+str(np.percentile(bh_similarity_list,0)))
print('25th percentile: '+str(np.percentile(bh_similarity_list,25)))
print('50th percentile: '+str(np.percentile(bh_similarity_list,50)))
print('75th percentile: '+str(np.percentile(bh_similarity_list,75)))
print('100th percentile: '+str(np.percentile(bh_similarity_list,100)))

Similarity of customers who buy both brands:
0 percentile: 0.031596840316
25th percentile: 0.0864209889176
50th percentile: 0.103048476792
75th percentile: 0.122739523124
100th percentile: 0.193203398301

In [329]:
print('Similarity of customers who buy only super bock: ')
print('0 percentile: '+str(np.percentile(similarity_list,0)))
print('25th percentile: '+str(np.percentile(similarity_list,25)))
print('50th percentile: '+str(np.percentile(similarity_list,50)))
print('75th percentile: '+str(np.percentile(similarity_list,75)))
print('100th percentile: '+str(np.percentile(similarity_list,100)))

Similarity of customers who buy only super bock:
0 percentile: 0.0139958012596
25th percentile: 0.0814970194256
50th percentile: 0.0981411153308
75th percentile: 0.11460829953
100th percentile: 0.196262616169

### In order to provide heineken product recommendation to those who only buys super bock now:
<ul>
<li>For each super bock product, get the average unit price. Do the same for each of the three heineken product</li> 
<li>For each super bock customer, get the most frequently bought super bock product</li>
<li>Based on the most frequently bought product and its price, create recommendation</li>
</ul>

In [101]:
bock_average_price_array = np.array([])
for i in range(0,len(bock)) :
    product_price_index = transaction_data.prod_unit_price.index[transaction_data.prod_id==bock.prod_id.iloc[i]].tolist()
    prices = np.array(transaction_data.prod_unit_price[product_price_index])
    average_price = np.average(prices)
    bock_average_price_array = np.append(bock_average_price_array,average_price)
bock['unit_price']=bock_average_price_array

In [102]:
h_average_price_array = np.array([])
for i in range(0,len(heineken)) :
    product_price_index = transaction_data.prod_unit_price.index[transaction_data.prod_id==heineken.prod_id.iloc[i]].tolist()
    prices = np.array(transaction_data.prod_unit_price[product_price_index])
    average_price = np.average(prices)
    h_average_price_array = np.append(h_average_price_array,average_price)
heineken['unit_price']=h_average_price_array

In [120]:
heineken

,prod_id,subcategory_id,sub_category_desc,category_id,category_desc,brand_desc,category_desc_eng,unit_price
910,999159921,93694,CERVEJA EST C/ALCOOL,95800,CERVEJA C/ ALCOOL,HEINEKEN,BEER WITH ALCOHOL,17.500949
9490,999682638,93694,CERVEJA EST C/ALCOOL,95800,CERVEJA C/ ALCOOL,HEINEKEN,BEER WITH ALCOHOL,0.837407
10208,999939106,93694,CERVEJA EST C/ALCOOL,95800,CERVEJA C/ ALCOOL,HEINEKEN,BEER WITH ALCOHOL,0.988119

In [104]:
bock

,prod_id,subcategory_id,sub_category_desc,category_id,category_desc,brand_desc,category_desc_eng,unit_price
702,999156311,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,22.785219
933,999160155,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.973788
1405,999168803,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.671565
1718,999174009,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.962563
3476,999224373,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.975019
3603,999226130,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,3.303899
3701,999227098,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,7.557855
3830,999230254,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,4.619779
3950,999232273,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.693827
5053,999252242,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,15.024551
5054,999252243,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.928474
5425,999262736,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.793219
6446,999299657,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.668595
7438,999359026,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.654838
7807,999385340,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,9.984896
8023,999409443,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,16.092401
8141,999428518,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,1.981151
8362,999453873,93693,CERVEJA NAC S/ALCOOL,95799,CERVEJA S/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.992150
8648,999494263,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.975134
8804,999516116,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,20.695365
8830,999521779,93693,CERVEJA NAC S/ALCOOL,95799,CERVEJA S/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.985187
9007,999551492,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.999514
9166,999595388,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.996956
9178,999598955,93695,CERVEJA NAC C/ALCOOL,95800,CERVEJA C/ ALCOOL,SUPER BOCK,BEER WITH ALCOHOL,0.880105

In [ ]:
recommend_list = np.array([])
for bock_customer in only_bock_customer :
    bock_customer_index = transaction_data.index[transaction_data.cust_id == bock_customer].tolist()
    bock_customer_df = transaction_data.iloc[bock_customer_index]
    bock_customer_purchase  = bock_customer_df.loc[bock_customer_df.index[
    bock_customer_df.prod_id.isin(bock.prod_id)].tolist()]
    purchase_list= bock_customer_purchase.groupby(['prod_id'])['tran_prod_sale_qty'].sum().sort_values(ascending = False)
    purchase_price_list = [float(bock.unit_price[bock.index[bock.prod_id==x].tolist()]) for x in purchase_list.index]
    target_price = purchase_price_list[0]
    new_price_list = abs(heineken.unit_price-target_price)
    min_difference = min(new_price_list)
    recommend_id = heineken.iloc[np.argmin(np.array(new_price_list))].prod_id
    recommend_list = np.append(recommend_list,recommend_id)
    if len(recommend_list) % 100 == 0 :
        print(len(recommend_list))

In [317]:
recommend_df = pd.DataFrame({'cust_id' : only_bock_customer, 'recommended_heineken_product' : recommend_list.astype(int)})

In [318]:
recommend_df.head()

   cust_id  recommended_heineken_product
0   199950                     999682638
1   289975                     999682638
2   340000                     999682638
3   559804                     999682638
4   619631                     999939106

## For people who buys product from two brands at the same time:
<ul>
<li> if only buys heineken at full price, ignore</li>
<li> if buys more quantity when heineken product is on discount, send offer and incentive them to buy more, there fore increase heineken sales</li>
</ul>

If a customer has not bought any heineken product with a discount, we ignore them because they either
don't buy beers often or don't care about discount. Of course if we have more time and information we 
 can take a closer look to those profiles, but as of now we want to focus on those who has taken discouts
and study how discounts affect their decisions.

In [262]:

discount_number = bock_heineken_purchase.groupby(['cust_id'])['tran_prod_offer_cts'].sum()
potential_target_customer = discount_number.index[discount_number>0]
no_promotion = discount_number.index[discount_number==0]

In [269]:
full_price_quantities = np.array(heineken_transactions.loc[heineken_transactions.index[
    heineken_transactions.cust_id.isin(no_promotion)]].tran_prod_sale_qty)

Distribution of quantity purchased at full price(customers who only buys heineken at full price)

In [330]:
print('0 percentile: '+str(np.percentile(full_price_quantities,0)))
print('25th percentile: '+str(np.percentile(full_price_quantities,25)))
print('50th percentile: '+str(np.percentile(full_price_quantities,50)))
print('75th percentile: '+str(np.percentile(full_price_quantities,75)))
print('100th percentile: '+str(np.percentile(full_price_quantities,100)))

0 percentile: 1.0
25th percentile: 1.0
50th percentile: 6.0
75th percentile: 6.0
100th percentile: 18.0

For all other customers who buy both Heineken and Super bock and has taken discounts, find out who buys more when heineken is on sale and target them because they are more sensitive to price

In [305]:
# For each customer in this group, get their heineken purchase history. If they only
# buy at discount, we target them and send offer to boost sales. If they buy when heineken
# is on sale as well as at full price, we only target them if they buy more quantity at discount
# than at full price in totall.
target_sh_customer = np.array([])
for customer in potential_target_customer :
    heineken_purchase = heineken_transactions.loc[
        heineken_transactions.index[heineken_transactions.cust_id==customer].tolist()]
    heineken_purchase = heineken_purchase.groupby(['tran_prod_offer_cts'])['tran_prod_sale_qty'].sum()
    if sum(np.array(heineken_purchase.index)>0)==len(np.array(heineken_purchase.index)) :
        target_sh_customer = np.append(target_sh_customer,customer)
    else :
        full_price_index = np.argmin(np.array(heineken_purchase.index))
        full_price_quantity = heineken_purchase.iloc[full_price_index]
        if (float(full_price_quantity/sum(heineken_purchase))<0.5) :
            target_sh_customer = np.append(target_sh_customer,customer)

After we figure out who we should target, we pull their heineken purchases and send them offers on these products to incentivizing them to buy more

In [308]:
recommend_sh_list = np.array([])
for sh_customer in target_sh_customer :
    target_customer_index = transaction_data.index[transaction_data.cust_id == sh_customer].tolist()
    target_customer_df = transaction_data.iloc[target_customer_index]
    target_customer_purchase  = target_customer_df.loc[target_customer_df.index[
    target_customer_df.prod_id.isin(heineken.prod_id)].tolist()]
    
    purchase_list= target_customer_purchase.groupby(['prod_id'])['tran_prod_sale_qty'].sum().sort_values(ascending = False)
    recommend_id = purchase_list.index[0]
    recommend_sh_list = np.append(recommend_sh_list,recommend_id)
    if len(recommend_list) % 100 == 0 :
        print(len(recommend_list))

In [320]:
sh_recommend_df = pd.DataFrame({'cust_id' : target_sh_customer.astype(int),
                                'recommended_heineken_product' : recommend_sh_list.astype(int)})

In [321]:
sh_recommend_df.head()

   cust_id  recommended_heineken_product
0   399566                     999682638
1   459915                     999682638
2   689894                     999939106
3   989713                     999682638
4  1179804                     999939106